@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
  }
body{
    display: flex;
    flex-direction: column;
    background: #f3f3f3c7;
    min-height: 110vh;
}
.brand-name{
    position: relative;
    font-size: 35px;
    line-height: 60px;
    margin: 0 0 0 50px;
    letter-spacing: 2px;   
}
.brand-name a{
    text-decoration: none;
    list-style: none;
    color: #fff;
    background: rgb(0, 44, 163);
    border-radius: 20px;
    padding: 0 5px;
    box-shadow: 5px 5px 10px rgb(71, 69, 69), -5px -5px 10px rgba(243, 241, 241, 0.781);
}
.logo span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 2s linear infinite;
    
}
.logo span:nth-child(1){
    animation-delay: 0s;
}
.logo span:nth-child(2){
    animation-delay: 0.25s;
}
.logo span:nth-child(3){
    animation-delay: 0.50s;
}
.logo span:nth-child(4){
    animation-delay: 0.75s;
}
@keyframes animate{
    0%,100%{
        color:rgb(0, 44, 163);
        filter:blur(2px);      
    }
    5%,95%{
        color:#fff;
        filter:blur(0px);
        text-shadow: 3px 3px 5px rgb(0, 0, 0);
    }

}
.navbar{
    margin-left: 30px;
    margin-right: 50px;
    width: 40%;
    
}
.navbar ul {
    justify-content: space-evenly;
    display: flex;
    
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    line-height: 60px;
    display: block;
    bottom: 4px;
    color: whitesmoke;
    font-weight: 600;
    position: relative;
    transition: color 0.4s linear;
    cursor: pointer;
}

.navbar ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1e90ec;
    /* background-color: coral; */
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.7,1.6,0.4,0.7);
    transform: scaleY(0);
    border-radius: 0 0 20% 20%;
    box-shadow: 3px 3px 10px rgba(61, 60, 60, 0.87);
}
.navbar ul li a:hover{
    color: rgba(255, 255, 255, 0.87);
}
.navbar ul li {
    display: inline-block;
    text-align: center;
}

.navbar ul li a:hover::before {
    height: 90%;
    transform: scaleY(1);
}
/* .slider {
    position: absolute;
    height: 7px;
    width: 59.2px;
    background-color: #1e90ec;
    bottom: 0%;
    left: 0%;
    transition: all 0.3s ease;
    margin-left: 57px;
} */
.active{
    border-bottom: 4px solid #ffff;
    transition: all 0.3s ease;
}
 .navbar ul li:nth-child(2):hover ~  .active {
    margin-left: 28.3%;
    width: 11.7%;
}
.navbar ul li:nth-child(3):hover ~  .active{
    margin-left: 49.2%;
    width: 15.6%;
}
.navbar ul li:nth-child(4):hover ~ .active {
    margin-left: 74.4%;
    width: 16.2%;
}
.container{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #1c43f1;
    background: transparent;
    z-index: 1;
}
.row{
    display:flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
    flex-direction: row;
    line-height: 60px;
}
.background-container{
    
    background-image: url(./image/5.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}
.background-container:after{
    content: "";
    display:block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #333;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .3;
    mix-blend-mode: darken;
}

.word {
    padding: 40px 40px 0 40px;
    position: absolute;
    border-radius: 30px 40% 30px 40% ;
    background-color: rgb(0,0,0,0.5);
    box-shadow: 5px 5px 10px rgb(77, 76, 76), -5px -5px 10px rgba(243, 241, 241, 0.781);
}
/* .word::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    /* background-color: rgb(14, 13, 13); */
    /* z-index: -1; */
    /* border-radius: 30px 40% 30px 40% ;
   
} */ 
.sidebar{
    position: absolute;
    top: 30%;
    left: 95%;    
}
.sidebar ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-self:center ;
    transition: all 0.3 ease;
}
.sidebar ul li:hover {
    background-color: rgb(243, 225, 166);
} 
.sidebar ul li a{
    display: flex;
}
.sidebar li:nth-child(4){
    border-radius: 50%;
    justify-content: flex-end;
    width: 50px;
    height: 50px;
    box-shadow: 5px 5px 5px rgb(32, 32, 32), -5px -5px 10px rgba(243, 241, 241, 0.781);
}
.sidebar li:nth-child(2){
    border-radius: 50%;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(32, 32, 32), -5px -5px 10px rgba(243, 241, 241, 0.781);
}
.sidebar li:nth-child(1),.sidebar li:nth-child(3){
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgb(32, 32, 32), -5px -5px 10px rgba(243, 241, 241, 0.781);
}
.word p:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    color: rgba(45, 61, 209, 0.897);
}
.word p:nth-child(3){
    font-size: 80px;
    font-weight: bold;
    color: rgba(56, 68, 240, 0.849);
}
.word p:nth-child(4){
    font-size: 20px;
    font-weight: bold;
    color: rgb(45, 115, 207);
    margin-left: 20px;
}
.btn1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1e90ec;
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
    box-shadow:  5px 5px 15px rgb(59, 59, 59);
}
.btn1{
    background: none;
    width: 130px;
    height: 42px;
    border-radius: 15px;
    font-size: 14px;
    position: relative;
    left: 35%;
    outline: none;
    transition: color 0.4s linear;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    z-index: 0;
    color: #1e90ec;
    font-weight: bolder;
    text-transform: uppercase;
    left: 20px;
    border: 2px solid #1e90ec;
   
}
.btn1:hover{
    color: #fff;
    border:none;
}
.btn1:hover::before {
    height: 100%;
    transform: scaleX(1);
}
.btn2::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(245, 67, 23);
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    box-shadow:  5px 5px 15px rgb(59, 59, 59);
    transform: scaleX(0);
}
.btn2{
    background: none;

    width: 130px;
    height: 42px;
    border-radius: 15px;
    font-size: 14px;
    position: relative;
    left: 50%;
    top: -62px;
    outline: none;
    transition: color 0.4s linear;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    z-index: 0;
    color: rgb(248, 112, 58);
    font-weight: bolder;
    text-transform: uppercase;
    border: 2px solid #ea4b3c;
}

.btn2:hover{
    color: #fff;
    border:none;
}
.btn2:hover::after{
    height: 100%;
     transform: scaleX(1); 
 }
 
.btn3{
    outline: none;
    width: 130px;
    height: 42px;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    transition: color 0.4s linear;
    cursor: pointer;
    display: block;
    z-index: 0;
    color: #1f1f1f;
    font-weight: bolder;
    text-transform: uppercase;
    border: 1px solid #1f1f1f;
    box-shadow:  5px 5px 10px rgb(32, 32, 32);
    top: 80%;
    left: -5%;
}
.btn3:hover{
    color: #fff;
    border:none;
}
.btn3:hover::before {
    height: 100%;
    transform: scaleX(1);
}
.btn3::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    border-radius: 5px;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}
.model{
   background: url(./image/2.png) no-repeat;
   height: 350px;
   background-position: center;
   background-size: contain ;
   width: 400px;
   position: relative;
   box-shadow:  20px 20px 5px #000;
   border-radius: 20px;
   background-color:#aac0eb;
   margin-top:-10px
}
.model-container{
    display: flex;
    margin: 20px auto;
    width: 65%;
    height: 350px;
    border-radius: 20px 10px 10px 50px;
    box-shadow: 5px 5px 15px #333, -5px -5px 15px #bbb;
    
    background-color: rgb(231, 228, 228);
}
.text-model{
    justify-content: space-evenly;
    display: flex;
    width: 50%;
    margin-left: 40px;
    flex-direction: column;
}
.text-model p:nth-child(1){
    margin-top:-20px;
    font-size: 20px;
}
.text-model p:nth-child(2){
    margin-top: -40px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.skill-container{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.html-skill{
    background-color: #f19e34;
    margin-left: 85px;
}
.css-skill{
    background-color: #8cbde6;
}
.java-skill{
    background-color: #f3ef87;
}
.html-skill,.css-skill,.java-skill {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #333;
    width: 20%;
}
.html-skill div:nth-child(1){
    background-image: url(./image/html.png);
    min-width: 200px;  
    min-height: 200px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.html-skill div:nth-child(2){
    position: relative;
    width: 100%;
    height: 100%;
}
.css-skill div:nth-child(1){
    background-image: url(./image/css.png);
    min-width: 200px;  
    min-height: 200px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.css-skill div:nth-child(2){
    position: relative;
    width: 100%;
    height: 100%;
}
.java-skill div:nth-child(1){
    background-image: url(./image/javas.png);
    min-width: 200px;
    min-height: 200px;  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.java-skill div:nth-child(2){
    position: relative;
    width: 100%;
    height: 100%;
}
.skill-meaning {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.skill-meaning p:nth-child(2){
    font-size: 12px;
    font-family: cursive;
    font-weight: 600;
}
.css-skill .skill-meaning p:nth-child(1){
    color: #8dc6f5;
    text-align: center;
    text-shadow: 5px 5px 3px #000;
    font-size: 2.5rem;
}
.html-skill .skill-meaning p:nth-child(1){
    color: #f7a336;
    text-align: center;
    text-shadow: 5px 5px 3px #000;
    font-size: 2.5rem;
}
.java-skill .skill-meaning p:nth-child(1){
    color: #f1ed79;
    text-align: center;
    text-shadow: 5px 5px 3px #000;
    font-size: 2.5rem;
}
h1 {
    color: #fff;
    text-align: center;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.26);
    font-size: 3.5rem;
    font-weight: 700;
    transition: all 0.3s;
}


